### Ejercicio en Clase

In [16]:
a="Hola a todos"
print(a)

Hola a todos

In [17]:
a="""Hola
Como están"""
print(a)

Hola
Como están

### Variables

In [18]:
numero=4
mistring="Hola" #Esto es un comentario
miBool=True

In [19]:
edad=25
print("Hola a todos, mi edad es:", edad)

Hola a todos, mi edad es: 25

In [20]:
nombre="Kimberly"
print(f"Hola a todos mi nombre es {nombre} y mi edad es {edad} ")

Hola a todos mi nombre es Kimberly y mi edad es 25

In [21]:
salario=25000
dept="Finanzas"
miQuery= """SELECT * FROM empleado
WHERE salario >= {} AND estado = {} """.format(salario,dept)

print(miQuery)

SELECT * FROM empleado
WHERE salario >= 25000 AND estado = Finanzas

In [22]:
nombre= input("Ingrese su nombre:")
print (f"Hola, {nombre}, esto es python")

Hola, 4, esto es python

### Strings

In [23]:
a="Cesar Rodriguez"
a[3:7]
len(a)

15

### Control de Flujo

In [24]:
43==34
43==43

True

In [25]:
numero= int(input("Ingrese un número:"))
if(numero!=0):
    print("El número no es cero")
else:
    print("El número es 0")

El número no es cero

In [26]:
dia= int(input("Ingrese el número de día:"))

if(dia>=1 and dia<=7):
    if(dia==1):
        print("El día es lunes")
    elif(dia==2):
        print("El día es martes")
    elif(dia==3):
        print("El día es miércoles")
    elif(dia==4):
        print("El día es jueves")
    elif(dia==5):
        print("El día es viernes")
    elif(dia==6):
        print("El día es sábado")
    elif(dia==7):
        print("El día es domingo")
        
else:
    print("El número ingresado no pertenece a ningún día")

El día es jueves

### Listas

In [27]:
lista=[10,20,30,40,50,60]
#1 Es dinámica
#2 Almacena diferentes tipos de datos

In [28]:
lista[4]
lista[4:]
len(lista)

6

In [36]:
lista.append("Data")

In [30]:
lista.insert(3, "UMG")

In [34]:
lista

[10, 20, 30, 40, 50, 60]

### Eliminar elementos de una lista

In [32]:
del lista [3] #Eliminar por posición

In [37]:
lista.remove("Data") #Eliminar por valor

In [38]:
segundos= int(input("ingrese los segundos:"))

Horas = segundos // (60*60)
segundos = segundos % (60*60)
Minutos = segundos // (60)
segundos = segundos % (60)

print("Horas: {} - Minutos: {} - Segundos: {}".format(Horas,Minutos, segundos))

Horas: 0 - Minutos: 8 - Segundos: 43

In [39]:
from datetime import datetime

dia= int(input("Introduce el día actual:"))
mes= int(input("Introduce el mes actual:")) 
año= int(input("Introduce el año actual"))

dia_aniversario= int(input("Introduce el dia de tu nacimiento:"))
mes_aniversario= int(input(" Introduce el mes de tu nacimiento")) 
año_aniversario= int(input("Introduce el año de tu nacimiento:"))

resultado_dia= dia - dia_aniversario
resultado_mes= mes - mes_aniversario 
resultado_año= año - año_aniversario

print("Tienes", resultado_año, "años", resultado_mes, "meses", "y", resultado_dia, "dias")

Tienes 26 años -6 meses y -3 dias

### Comentarios Grupales

### - Carlos

In [ ]:
# Me pareció muy bien repasar los conceptos básicos con Anaconda, Jupyter y Python en este ejercicio, pero me 
# hubiera gustado profundizar un poco más en cada tema. Por ejemplo, aunque cubrimos listas y eliminación 
# de elementos, habría sido útil explorar otros métodos de lista y situaciones más complejas. Sin embargo, 
# aprecio la base sólida que este ejercicio proporcionó y estoy listo para seguir avanzando.

### - Evelyn

In [ ]:
# La combinación de Anaconda, Jupyter y Python hizo que aprender fuera mucho más visual y dinámico. 
# Poder ver los resultados de cada línea de código justo al lado de donde lo escribí fue muy útil 
# para mi comprensión. Además, la estructura modular de Jupyter hizo que fuera fácil volver atrás 
# y modificar partes del código para experimentar.

### - Alexander

In [ ]:
# Me gustó cómo este ejercicio nos llevó desde lo básico hasta habilidades más prácticas como 
# el manejo de fechas y la manipulación de listas en Python. Estos son conceptos que puedo imaginar 
# utilizando en proyectos futuros, lo que hace que este ejercicio sea aún más valioso para mí. 
# La combinación de conceptos básicos y aplicaciones prácticas realmente solidificó mi comprensión.

### - Antony

In [ ]:
# Este ejercicio fue una excelente manera de iniciar nuestra exploración de Python como grupo. 
# La estructura clara y los ejemplos prácticos nos permitieron trabajar juntos para comprender y 
# resolver problemas. Además, la capacidad de compartir y comentar en tiempo real dentro de Jupyter 
# facilitó la colaboración y el intercambio de ideas. Estoy emocionado de ver hacia dónde nos 
# llevará nuestra exploración de Python a partir de aquí.

### - Angélica

In [ ]:
# ¡Qué emocionante fue este ejercicio! Fue genial ver cómo cada línea de código que escribía cobraba vida 
# en Jupyter con Python y Anaconda. Me encantó cómo comenzamos desde lo básico con "Hola Mundo" y luego 
# avanzamos hacia conceptos más complejos como control de flujo y listas. Me siento más seguro en mi comprensión 
# de Python y Anaconda después de esta actividad.